{{ form.hidden_tag() }}

<div class="mb=3">
    {{ form.category_id.label(class="form-label") }}
    {{ form.category_id(class="form-select") }}
    {% if form.category_id.errors %}
    <div>
        {% for error in form.category_id.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="mb=3">
    {{ form.amount.label(class="form-label") }}
    {{ form.amount(class="form-control") }}
    {% if form.amount.errors %}
    <div>
        {% for error in form.amount.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div>
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('budgets.index') }}" class="btn btn-secondary"> Cancel</a>
</div>