
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.categories.label(class="form-label") }}
        {{ form.categories(class="form-select") }}
        {% if form.categories.errors %}
            <div class="text-danger small">
                {% for error in form.categories.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.certainty.label(class="form-label") }}
        {{ form.certainty(class="form-control") }}
        {% if form.certainty.errors %}
            <div class="text-danger small">
                {% for error in form.certainty.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
        {% if form.description.errors %}
            <div class="text-danger small">
                {% for error in form.description.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

<div>
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('expenses.index') }}" class="btn btn-secondary"> Cancel</a>
</div>
